.btn {
  display: block;

  padding: 4px 14px;

  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
  text-align: center;
  white-space: nowrap;

  color: #091e42;
  border: 1px solid;
  border-radius: 4px;
  outline: none;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;

  &-primary {
  	border-color: $yellow;
  	background-color: $yellow;

  	&:hover {
  		border-color: $yellow-hover;
  		background-color: $yellow-hover;
  	}
  }

  &-success {
  	border-color: $btn-success;
  	background: $btn-success;

  	&:hover {
  		border-color: $accent-green;
  		background-color: $accent-green;
  	}
  }

  &-error {
  	border-color: $btn-error;
  	background: $btn-error;

  	&:hover {
  		border-color: $accent-red;
  		background-color: $accent-red;
  	}
  }

  &.disabled {
  	cursor: default;

  	border-color: $gray-300;
  	background-color: $gray-300;

  	&:hover {
  		border-color: $gray-300;
  		background-color: $gray-300;
  	}
  }
}
