.header {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 32px;

  &-logo {
    cursor: pointer;
  }

  &-list {
    display: flex;
    list-style: none;

    &_item {
      margin-left: 16px;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}
