.page {
  padding: 16px;
}

.not__found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    display: flex;
    align-items: center;

    font-family: "Rubik", sans-serif;
    font-size: 150px;
    font-weight: 500;
    line-height: 175px;
  }

  &-additional__title {
    font-size: 40px;
    font-family: "Rubik", sans-serif;
    line-height: 48px;
    margin-bottom: 8px;
    font-weight: 500;
  }

  &-descr {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}







